#root {
    -fx-background-color: black;
}

Label{
    -fx-text-fill:white;
    
}
RequestMonitor {
    -fx-font-size: 16pt;
    -fx-font-family: "Courier New";
}
.elevator-button {
    -fx-background-radius: 10;
    -fx-background-insets: 0,1,2,3,0;
    -fx-text-fill: #654b00;
    -fx-font-weight: bold;
    -fx-font-size: 14px;
    -fx-padding:0;/*10 20 10 20;*/

}

.indicator-label {
    -fx-background-radius: 0;
    -fx-background-insets: 0,1,2,3,0;
    -fx-text-fill: black;
    -fx-font-weight: bold;
    -fx-font-size: 14px;
    -fx-padding:0;/*10 20 10 20;*/

}
.lit{
    -fx-background-color: 
        linear-gradient(#d6ff5b, #84e600),
        linear-gradient(#efff84, #baf244),
        linear-gradient(#eaff6a, #aaef22),
        linear-gradient(#e6ff57 0%, #c2f802 50%, #a1ee0b 100%),
        linear-gradient(from 0% 0% to 15% 50%, rgba(255,255,255,0.9), rgba(255,255,255,0));
    
    
}
.lit-blue{
    -fx-background-color: 
            linear-gradient(#d65bff, #8400e6),
        linear-gradient(#ef84ff, #ba44f2),
        linear-gradient(#ea6aff, #aa22ef),
        linear-gradient(#e657ff 0%, #c202f8 50%, #a10bee 100%),
        linear-gradient(from 0% 0% to 15% 50%, rgba(255,255,255,0.9), rgba(255,255,255,0));
    
    
}
.on {
    -fx-background-color: 
        linear-gradient(#ffd65b, #e68400),
        linear-gradient(#ffef84, #f2ba44),
        linear-gradient(#ffea6a, #efaa22),
        linear-gradient(#ffe657 0%, #f8c202 50%, #eea10b 100%),
        linear-gradient(from 0% 0% to 15% 50%, rgba(255,255,255,0.9), rgba(255,255,255,0));
}
.off {
    -fx-background-color: #666;
}