#root {
    -fx-background-color: black;
}

Label{
    -fx-text-fill:white;

}
RequestMonitor {
    -fx-font-size: 16pt;
    -fx-font-family: "Courier New";
}
.elevator-button {
    -fx-background-radius: 10;
    -fx-background-insets: 0,1,2,3,0;
    -fx-text-fill: #654b00;
    -fx-font-weight: bold;
    -fx-font-size: 14px;
    -fx-padding:0;/*10 20 10 20;*/

}

.indicator-label {
    -fx-background-radius: 0;
    -fx-background-insets: 0,1,2,3,0;
    -fx-text-fill: black;
    -fx-font-weight: bold;
    -fx-font-size: 14px;
    -fx-padding:0;/*10 20 10 20;*/

}
.lit{
    -fx-background-color: 
        linear-gradient(#d6ff5b, #84e600),
        linear-gradient(#efff84, #baf244),
        linear-gradient(#eaff6a, #aaef22),
        linear-gradient(#e6ff57 0%, #c2f802 50%, #a1ee0b 100%),
        linear-gradient(from 0% 0% to 15% 50%, rgba(255,255,255,0.9), rgba(255,255,255,0));


}
.lit-blue{
    -fx-background-color: 
        linear-gradient(#5bd6ff, #0084e6),
        linear-gradient(#84efff, #44baf2),
        linear-gradient(#6aeaff, #22aaef),
        linear-gradient(#57e6ff 0%, #02c2f8 50%, #0ba1ee 100%),
        linear-gradient(from 0% 0% to 15% 50%, rgba(255,255,255,0.9), rgba(255,255,255,0));
}

.lit-red{
    -fx-background-color: 
        linear-gradient(#ff5bd6, #e60064),
        linear-gradient(#ff84ef, #f2448a),
        linear-gradient(#ff6aea, #ef226a),
        linear-gradient(#ff57c6 0%, #f80282 50%, #ee0b61 100%),
        linear-gradient(from 0% 0% to 15% 50%, rgba(255,255,255,0.9), rgba(255,255,255,0));
}
.on {
    -fx-background-color: 
        linear-gradient(#ffd65b, #e68400),
        linear-gradient(#ffef84, #f2ba44),
        linear-gradient(#ffea6a, #efaa22),
        linear-gradient(#ffe657 0%, #f8c202 50%, #eea10b 100%),
        linear-gradient(from 0% 0% to 15% 50%, rgba(255,255,255,0.9), rgba(255,255,255,0));
}
.off {
    -fx-background-color: #666;
}